<header>
    <section id="first-row">
        <form action="/note" method="get">
            <button type="submit">Create new note</button>
        </form>
        <form action="/" method="post">
            <button type="submit">
                {{#equal theme "light"}}
                    Enable dark mode
                {{else}}
                    Enable light mode
                {{/equal}}
            </button>
            <input type="hidden" name="darkTheme" value="true">
        </form>
    </section>
    <section id="second-row">
        <div>
            <form action="/" method="post">
                <button type="submit">By finish date</button>
                <input type="hidden" name="sortedBy" value="dueToDate">
            </form>
            <form action="/" method="post">
                <button type="submit">By create date</button>
                <input type="hidden" name="sortedBy" value="createDate">
            </form>
            <form action="/" method="post">
                <button type="submit">By importance</button>
                <input type="hidden" name="sortedBy" value="importance">
            </form>
        </div>
        <div>
            <form action="/" method="post">
                <button type="submit">Show finished notes</button>
                <input type="hidden" name="showFinished" value="true">
            </form>
        </div>
    </section>
</header>
<main class="note-row">
    {{#if notes}}
        {{#each this.notes}}
            <form action="/note/{{this._id}}" method="get">
                <div>
                    <input id="finished-note" type="checkbox" disabled {{#if this._finished}}checked{{/if}}>
                    <label for="finished-note">Finished</label>
                </div>

                <div class="note-content-row">
                    {{displayDate this._dueToDate}}
                    <div class="note-content-title-row">
                        <label for="note-text">{{this._title}}</label>
                        <span>{{this._importance}}</span>
                    </div>
                    <div>
                        <label for="note-description"></label>
                        <textarea id="note-description" rows="3" cols="60" disabled>{{this._description}}</textarea>
                    </div>
                </div>
                <div>
                    <button type="button" onclick="window.location.href='/note/{{this._id}}'">Edit</button>
                </div>
            </form>
        {{/each}}
    {{else}}
        <p>No notes available yet!</p>
    {{/if}}
</main>
