<header>
    <section>
        <form action="/note" method="get">
            <button type="submit">Create new note</button>
        </form>
        <form action="/" method="post">
            <button type="submit">
                {{#equal theme "light"}}
                    Enable dark mode
                {{else}}
                    Disable dark mode
                {{/equal}}
            </button>

            <input type="hidden" name="darkTheme" value="true">
        </form>
    </section>
    <section>
        <article>
            <form action="/" method="post">
                <button type="submit">By finish date</button>
                <input type="hidden" name="sortedBy" value="dueToDate">
            </form>

            <form action="/" method="post">
                <button type="submit">By create date</button>
                <input type="hidden" name="sortedBy" value="createDate">
            </form>

            <form action="/" method="post">
                <button type="submit">By importance</button>
                <input type="hidden" name="sortedBy" value="importance">
            </form>
        </article>
        <article>
            <form action="/" method="post">
                <button type="submit">
                    {{#if showFinished}}Show{{else}}Hide{{/if}}
                    finished notes
                </button>

                <input type="hidden" name="showFinished" value="true">
            </form>
        </article>
    </section>
</header>
<main id="startpage">
    {{#if notes}}
        {{#each this.notes}}
            <article>
                <form action="/note/{{this._id}}" method="get">
                    <div class="note-content">
                        <div class="note-header">
                            <span><strong>{{this._title}}</strong></span>
                            <span>{{displayImportance this._importance}}</span>
                        </div>

                        <div class="note-description">
                            <label for="note-description"></label>
                            <textarea id="note-description" rows="3" cols="40" disabled>{{this._description}}</textarea>
                        </div>

                        <div class="note-footer">
                            <span>
                                <input id="finished-note" type="checkbox" disabled {{#if this._finished}}checked{{/if}}>
                                <label for="finished-note">Finished</label>
                            </span>
                            <span>{{displayDate this._dueToDate}}</span>
                        </div>
                    </div>

                    <button type="button" onclick="window.location.href='/note/{{this._id}}'">Edit</button>
                </form>
            </article>
        {{/each}}
    {{else}}
        {{#if showFinished}}
            <p class="no-notes-hint">No notes available yet!</p>
        {{else}}
            <p class="no-notes-hint">No open notes!</p>
        {{/if}}
    {{/if}}
</main>
